## SPARK SQL APPLICATION

In [2]:
print('Hello World!')

Hello World!

In [3]:
2+4

6

## SPARK CONTEXT

In [4]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

In [5]:
type(sc)

pyspark.context.SparkContext

In [7]:
help(sc)

Help on SparkContext in module pyspark.context object:

class SparkContext(builtins.object)
 |  SparkContext(master: Optional[str] = None, appName: Optional[str] = None, sparkHome: Optional[str] = None, pyFiles: Optional[List[str]] = None, environment: Optional[Dict[str, Any]] = None, batchSize: int = 0, serializer: 'Serializer' = CloudPickleSerializer(), conf: Optional[pyspark.conf.SparkConf] = None, gateway: Optional[py4j.java_gateway.JavaGateway] = None, jsc: Optional[py4j.java_gateway.JavaObject] = None, profiler_cls: Type[pyspark.profiler.BasicProfiler] = <class 'pyspark.profiler.BasicProfiler'>, udf_profiler_cls: Type[pyspark.profiler.UDFBasicProfiler] = <class 'pyspark.profiler.UDFBasicProfiler'>, memory_profiler_cls: Type[pyspark.profiler.MemoryProfiler] = <class 'pyspark.profiler.MemoryProfiler'>)
 |
 |  Main entry point for Spark functionality. A SparkContext represents the
 |  connection to a Spark cluster, and can be used to create :class:`RDD` and
 |  broadcast variables on that cluster.
 |
 |  When you create a new SparkContext, at least the master and app name should
 |  be set, either through the named parameters here or through `conf`.
 |
 |  Parameters
 |  ----------
 |  master : str, optional
 |      Cluster URL to connect to (e.g. mesos://host:port, spark://host:port, local[4]).
 |  appName : str, optional
 |      A name for your job, to display on the cluster web UI.
 |  sparkHome : str, optional
 |      Location where Spark is installed on cluster nodes.
 |  pyFiles : list, optional
 |      Collection of .zip or .py files to send to the cluster
 |      and add to PYTHONPATH.  These can be paths on the local file
 |      system or HDFS, HTTP, HTTPS, or FTP URLs.
 |  environment : dict, optional
 |      A dictionary of environment variables to set on
 |      worker nodes.
 |  batchSize : int, optional, default 0
 |      The number of Python objects represented as a single
 |      Java object. Set 1 to disable batching, 0 to automatically choose
 |      the batch size based on object sizes, or -1 to use an unlimited
 |      batch size
 |  serializer : :class:`Serializer`, optional, default :class:`CPickleSerializer`
 |      The serializer for RDDs.
 |  conf : :class:`SparkConf`, optional
 |      An object setting Spark properties.
 |  gateway : class:`py4j.java_gateway.JavaGateway`,  optional
 |      Use an existing gateway and JVM, otherwise a new JVM
 |      will be instantiated. This is only used internally.
 |  jsc : class:`py4j.java_gateway.JavaObject`, optional
 |      The JavaSparkContext instance. This is only used internally.
 |  profiler_cls : type, optional, default :class:`BasicProfiler`
 |      A class of custom Profiler used to do profiling
 |  udf_profiler_cls : type, optional, default :class:`UDFBasicProfiler`
 |      A class of custom Profiler used to do udf profiling
 |
 |  Notes
 |  -----
 |  Only one :class:`SparkContext` should be active per JVM. You must `stop()`
 |  the active :class:`SparkContext` before creating a new one.
 |
 |  :class:`SparkContext` instance is not supported to share across multiple
 |  processes out of the box, and PySpark does not guarantee multi-processing execution.
 |  Use threads instead for concurrent processing purpose.
 |
 |  Examples
 |  --------
 |  >>> from pyspark.context import SparkContext
 |  >>> sc = SparkContext('local', 'test')
 |  >>> sc2 = SparkContext('local', 'test2') # doctest: +IGNORE_EXCEPTION_DETAIL
 |  Traceback (most recent call last):
 |      ...
 |  ValueError: ...
 |
 |  Methods defined here:
 |
 |  __enter__(self) -> 'SparkContext'
 |      Enable 'with SparkContext(...) as sc: app(sc)' syntax.
 |
 |  __exit__(self, type: Optional[Type[BaseException]], value: Optional[BaseException], trace: Optional[traceback]) -> None
 |      Enable 'with SparkContext(...) as sc: app' syntax.
 |
 |      Specifically stop the context on exit of the with block.
 |
 |  __getnewargs__(self) -> NoReturn
 |
 |  __init__(self, master: Optional[str] = None, appName: Optional[str] = None, sparkHome: Optional[str] = None, pyFiles: Optional[List[str]] = None, environment: Optional[Dict[str, Any]] = None, batchSize: int = 0, serializer: 'Serializer' = CloudPickleSerializer(), conf: Optional[pyspark.conf.SparkConf] = None, gateway: Optional[py4j.java_gateway.JavaGateway] = None, jsc: Optional[py4j.java_gateway.JavaObject] = None, profiler_cls: Type[pyspark.profiler.BasicProfiler] = <class 'pyspark.profiler.BasicProfiler'>, udf_profiler_cls: Type[pyspark.profiler.UDFBasicProfiler] = <class 'pyspark.profiler.UDFBasicProfiler'>, memory_profiler_cls: Type[pyspark.profiler.MemoryProfiler] = <class 'pyspark.profiler.MemoryProfiler'>)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self) -> str
 |      Return repr(self).
 |
 |  accumulator(self, value: ~T, accum_param: Optional[ForwardRef('AccumulatorParam[T]')] = None) -> 'Accumulator[T]'
 |      Create an :class:`Accumulator` with the given initial value, using a given
 |      :class:`AccumulatorParam` helper object to define how to add values of the
 |      data type if provided. Default AccumulatorParams are used for integers
 |      and floating-point numbers if you do not provide one. For other types,
 |      a custom AccumulatorParam can be used.
 |
 |      .. versionadded:: 0.7.0
 |
 |      Parameters
 |      ----------
 |      value : T
 |          initialized value
 |      accum_param : :class:`pyspark.AccumulatorParam`, optional
 |          helper object to define how to add values
 |
 |      Returns
 |      -------
 |      :class:`Accumulator`
 |          `Accumulator` object, a shared variable that can be accumulated
 |
 |      Examples
 |      --------
 |      >>> acc = sc.accumulator(9)
 |      >>> acc.value
 |      9
 |      >>> acc += 1
 |      >>> acc.value
 |      10
 |
 |      Accumulator object can be accumulated in RDD operations:
 |
 |      >>> rdd = sc.range(5)
 |      >>> def f(x):
 |      ...     global acc
 |      ...     acc += 1
 |      >>> rdd.foreach(f)
 |      >>> acc.value
 |      15
 |
 |  addArchive(self, path: str) -> None
 |      Add an archive to be downloaded with this Spark job on every node.
 |      The `path` passed can be either a local file, a file in HDFS
 |      (or other Hadoop-supported filesystems), or an HTTP, HTTPS or
 |      FTP URI.
 |
 |      To access the file in Spark jobs, use :meth:`SparkFiles.get` with the
 |      filename to find its download/unpacked location. The given path should
 |      be one of .zip, .tar, .tar.gz, .tgz and .jar.
 |
 |      .. versionadded:: 3.3.0
 |
 |      Parameters
 |      ----------
 |      path : str
 |          can be either a local file, a file in HDFS (or other Hadoop-supported
 |          filesystems), or an HTTP, HTTPS or FTP URI. To access the file in Spark jobs,
 |          use :meth:`SparkFiles.get` to find its download location.
 |
 |      See Also
 |      --------
 |      :meth:`SparkContext.listArchives`
 |      :meth:`SparkFiles.get`
 |
 |      Notes
 |      -----
 |      A path can be added only once. Subsequent additions of the same path are ignored.
 |      This API is experimental.
 |
 |      Examples
 |      --------
 |      Creates a zipped file that contains a text file written '100'.
 |
 |      >>> import os
 |      >>> import tempfile
 |      >>> import zipfile
 |      >>> from pyspark import SparkFiles
 |
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     path = os.path.join(d, "test.txt")
 |      ...     with open(path, "w") as f:
 |      ...         _ = f.write("100")
 |      ...
 |      ...     zip_path1 = os.path.join(d, "test1.zip")
 |      ...     with zipfile.ZipFile(zip_path1, "w", zipfile.ZIP_DEFLATED) as z:
 |      ...         z.write(path, os.path.basename(path))
 |      ...
 |      ...     zip_path2 = os.path.join(d, "test2.zip")
 |      ...     with zipfile.ZipFile(zip_path2, "w", zipfile.ZIP_DEFLATED) as z:
 |      ...         z.write(path, os.path.basename(path))
 |      ...
 |      ...     sc.addArchive(zip_path1)
 |      ...     arch_list1 = sorted(sc.listArchives)
 |      ...
 |      ...     sc.addArchive(zip_path2)
 |      ...     arch_list2 = sorted(sc.listArchives)
 |      ...
 |      ...     # add zip_path2 twice, this addition will be ignored
 |      ...     sc.addArchive(zip_path2)
 |      ...     arch_list3 = sorted(sc.listArchives)
 |      ...
 |      ...     def func(iterator):
 |      ...         with open("%s/test.txt" % SparkFiles.get("test1.zip")) as f:
 |      ...             mul = int(f.readline())
 |      ...             return [x * mul for x in iterator]
 |      ...
 |      ...     collected = sc.parallelize([1, 2, 3, 4]).mapPartitions(func).collect()
 |
 |      >>> arch_list1
 |      ['file:/.../test1.zip']
 |      >>> arch_list2
 |      ['file:/.../test1.zip', 'file:/.../test2.zip']
 |      >>> arch_list3
 |      ['file:/.../test1.zip', 'file:/.../test2.zip']
 |      >>> collected
 |      [100, 200, 300, 400]
 |
 |  addFile(self, path: str, recursive: bool = False) -> None
 |      Add a file to be downloaded with this Spark job on every node.
 |      The `path` passed can be either a local file, a file in HDFS
 |      (or other Hadoop-supported filesystems), or an HTTP, HTTPS or
 |      FTP URI.
 |
 |      To access the file in Spark jobs, use :meth:`SparkFiles.get` with the
 |      filename to find its download location.
 |
 |      A directory can be given if the recursive option is set to True.
 |      Currently directories are only supported for Hadoop-supported filesystems.
 |
 |      .. versionadded:: 0.7.0
 |
 |      Parameters
 |      ----------
 |      path : str
 |          can be either a local file, a file in HDFS (or other Hadoop-supported
 |          filesystems), or an HTTP, HTTPS or FTP URI. To access the file in Spark jobs,
 |          use :meth:`SparkFiles.get` to find its download location.
 |      recursive : bool, default False
 |          whether to recursively add files in the input directory
 |
 |      See Also
 |      --------
 |      :meth:`SparkContext.listFiles`
 |      :meth:`SparkContext.addPyFile`
 |      :meth:`SparkFiles.get`
 |
 |      Notes
 |      -----
 |      A path can be added only once. Subsequent additions of the same path are ignored.
 |
 |      Examples
 |      --------
 |      >>> import os
 |      >>> import tempfile
 |      >>> from pyspark import SparkFiles
 |
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     path1 = os.path.join(d, "test1.txt")
 |      ...     with open(path1, "w") as f:
 |      ...         _ = f.write("100")
 |      ...
 |      ...     path2 = os.path.join(d, "test2.txt")
 |      ...     with open(path2, "w") as f:
 |      ...         _ = f.write("200")
 |      ...
 |      ...     sc.addFile(path1)
 |      ...     file_list1 = sorted(sc.listFiles)
 |      ...
 |      ...     sc.addFile(path2)
 |      ...     file_list2 = sorted(sc.listFiles)
 |      ...
 |      ...     # add path2 twice, this addition will be ignored
 |      ...     sc.addFile(path2)
 |      ...     file_list3 = sorted(sc.listFiles)
 |      ...
 |      ...     def func(iterator):
 |      ...         with open(SparkFiles.get("test1.txt")) as f:
 |      ...             mul = int(f.readline())
 |      ...             return [x * mul for x in iterator]
 |      ...
 |      ...     collected = sc.parallelize([1, 2, 3, 4]).mapPartitions(func).collect()
 |
 |      >>> file_list1
 |      ['file:/.../test1.txt']
 |      >>> file_list2
 |      ['file:/.../test1.txt', 'file:/.../test2.txt']
 |      >>> file_list3
 |      ['file:/.../test1.txt', 'file:/.../test2.txt']
 |      >>> collected
 |      [100, 200, 300, 400]
 |
 |  addPyFile(self, path: str) -> None
 |      Add a .py or .zip dependency for all tasks to be executed on this
 |      SparkContext in the future.  The `path` passed can be either a local
 |      file, a file in HDFS (or other Hadoop-supported filesystems), or an
 |      HTTP, HTTPS or FTP URI.
 |
 |      .. versionadded:: 0.7.0
 |
 |      Parameters
 |      ----------
 |      path : str
 |          can be either a .py file or .zip dependency.
 |
 |      See Also
 |      --------
 |      :meth:`SparkContext.addFile`
 |
 |      Notes
 |      -----
 |      A path can be added only once. Subsequent additions of the same path are ignored.
 |
 |  binaryFiles(self, path: str, minPartitions: Optional[int] = None) -> pyspark.rdd.RDD[typing.Tuple[str, bytes]]
 |      Read a directory of binary files from HDFS, a local file system
 |      (available on all nodes), or any Hadoop-supported file system URI
 |      as a byte array. Each file is read as a single record and returned
 |      in a key-value pair, where the key is the path of each file, the
 |      value is the content of each file.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Parameters
 |      ----------
 |      path : str
 |          directory to the input data files, the path can be comma separated
 |          paths as a list of inputs
 |      minPartitions : int, optional
 |          suggested minimum number of partitions for the resulting RDD
 |
 |      Returns
 |      -------
 |      :class:`RDD`
 |          RDD representing path-content pairs from the file(s).
 |
 |      Notes
 |      -----
 |      Small files are preferred, large file is also allowable, but may cause bad performance.
 |
 |      See Also
 |      --------
 |      :meth:`SparkContext.binaryRecords`
 |
 |      Examples
 |      --------
 |      >>> import os
 |      >>> import tempfile
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     # Write a temporary binary file
 |      ...     with open(os.path.join(d, "1.bin"), "wb") as f1:
 |      ...         _ = f1.write(b"binary data I")
 |      ...
 |      ...     # Write another temporary binary file
 |      ...     with open(os.path.join(d, "2.bin"), "wb") as f2:
 |      ...         _ = f2.write(b"binary data II")
 |      ...
 |      ...     collected = sorted(sc.binaryFiles(d).collect())
 |
 |      >>> collected
 |      [('.../1.bin', b'binary data I'), ('.../2.bin', b'binary data II')]
 |
 |  binaryRecords(self, path: str, recordLength: int) -> pyspark.rdd.RDD[bytes]
 |      Load data from a flat binary file, assuming each record is a set of numbers
 |      with the specified numerical format (see ByteBuffer), and the number of
 |      bytes per record is constant.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Parameters
 |      ----------
 |      path : str
 |          Directory to the input data files
 |      recordLength : int
 |          The length at which to split the records
 |
 |      Returns
 |      -------
 |      :class:`RDD`
 |          RDD of data with values, represented as byte arrays
 |
 |      See Also
 |      --------
 |      :meth:`SparkContext.binaryFiles`
 |
 |      Examples
 |      --------
 |      >>> import os
 |      >>> import tempfile
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     # Write a temporary file
 |      ...     with open(os.path.join(d, "1.bin"), "w") as f:
 |      ...         for i in range(3):
 |      ...             _ = f.write("%04d" % i)
 |      ...
 |      ...     # Write another file
 |      ...     with open(os.path.join(d, "2.bin"), "w") as f:
 |      ...         for i in [-1, -2, -10]:
 |      ...             _ = f.write("%04d" % i)
 |      ...
 |      ...     collected = sorted(sc.binaryRecords(d, 4).collect())
 |
 |      >>> collected
 |      [b'-001', b'-002', b'-010', b'0000', b'0001', b'0002']
 |
 |  broadcast(self, value: ~T) -> 'Broadcast[T]'
 |      Broadcast a read-only variable to the cluster, returning a :class:`Broadcast`
 |      object for reading it in distributed functions. The variable will
 |      be sent to each cluster only once.
 |
 |      .. versionadded:: 0.7.0
 |
 |      Parameters
 |      ----------
 |      value : T
 |          value to broadcast to the Spark nodes
 |
 |      Returns
 |      -------
 |      :class:`Broadcast`
 |          :class:`Broadcast` object, a read-only variable cached on each machine
 |
 |      Examples
 |      --------
 |      >>> mapping = {1: 10001, 2: 10002}
 |      >>> bc = sc.broadcast(mapping)
 |
 |      >>> rdd = sc.range(5)
 |      >>> rdd2 = rdd.map(lambda i: bc.value[i] if i in bc.value else -1)
 |      >>> rdd2.collect()
 |      [-1, 10001, 10002, -1, -1]
 |
 |      >>> bc.destroy()
 |
 |  cancelAllJobs(self) -> None
 |      Cancel all jobs that have been scheduled or are running.
 |
 |      .. versionadded:: 1.1.0
 |
 |      See Also
 |      --------
 |      :meth:`SparkContext.cancelJobGroup`
 |      :meth:`SparkContext.runJob`
 |
 |  cancelJobGroup(self, groupId: str) -> None
 |      Cancel active jobs for the specified group. See :meth:`SparkContext.setJobGroup`.
 |      for more information.
 |
 |      .. versionadded:: 1.1.0
 |
 |      Parameters
 |      ----------
 |      groupId : str
 |          The group ID to cancel the job.
 |
 |      See Also
 |      --------
 |      :meth:`SparkContext.setJobGroup`
 |      :meth:`SparkContext.cancelJobGroup`
 |
 |  dump_profiles(self, path: str) -> None
 |      Dump the profile stats into directory `path`
 |
 |      .. versionadded:: 1.2.0
 |
 |      See Also
 |      --------
 |      :meth:`SparkContext.show_profiles`
 |
 |  emptyRDD(self) -> pyspark.rdd.RDD[typing.Any]
 |      Create an :class:`RDD` that has no partitions or elements.
 |
 |      .. versionadded:: 1.5.0
 |
 |      Returns
 |      -------
 |      :class:`RDD`
 |          An empty RDD
 |
 |      Examples
 |      --------
 |      >>> sc.emptyRDD()
 |      EmptyRDD...
 |      >>> sc.emptyRDD().count()
 |      0
 |
 |  getCheckpointDir(self) -> Optional[str]
 |      Return the directory where RDDs are checkpointed. Returns None if no
 |      checkpoint directory has been set.
 |
 |      .. versionadded:: 3.1.0
 |
 |      See Also
 |      --------
 |      :meth:`SparkContext.setCheckpointDir`
 |      :meth:`RDD.checkpoint`
 |      :meth:`RDD.getCheckpointFile`
 |
 |  getConf(self) -> pyspark.conf.SparkConf
 |      Return a copy of this SparkContext's configuration :class:`SparkConf`.
 |
 |      .. versionadded:: 2.1.0
 |
 |  getLocalProperty(self, key: str) -> Optional[str]
 |      Get a local property set in this thread, or null if it is missing. See
 |      :meth:`setLocalProperty`.
 |
 |      .. versionadded:: 1.0.0
 |
 |      See Also
 |      --------
 |      :meth:`SparkContext.setLocalProperty`
 |
 |  hadoopFile(self, path: str, inputFormatClass: str, keyClass: str, valueClass: str, keyConverter: Optional[str] = None, valueConverter: Optional[str] = None, conf: Optional[Dict[str, str]] = None, batchSize: int = 0) -> pyspark.rdd.RDD[typing.Tuple[~T, ~U]]
 |      Read an 'old' Hadoop InputFormat with arbitrary key and value class from HDFS,
 |      a local file system (available on all nodes), or any Hadoop-supported file system URI.
 |      The mechanism is the same as for meth:`SparkContext.sequenceFile`.
 |
 |      .. versionadded:: 1.1.0
 |
 |      A Hadoop configuration can be passed in as a Python dict. This will be converted into a
 |      Configuration in Java.
 |
 |      Parameters
 |      ----------
 |      path : str
 |          path to Hadoop file
 |      inputFormatClass : str
 |          fully qualified classname of Hadoop InputFormat
 |          (e.g. "org.apache.hadoop.mapreduce.lib.input.TextInputFormat")
 |      keyClass : str
 |          fully qualified classname of key Writable class (e.g. "org.apache.hadoop.io.Text")
 |      valueClass : str
 |          fully qualified classname of value Writable class
 |          (e.g. "org.apache.hadoop.io.LongWritable")
 |      keyConverter : str, optional
 |          fully qualified name of a function returning key WritableConverter
 |      valueConverter : str, optional
 |          fully qualified name of a function returning value WritableConverter
 |      conf : dict, optional
 |          Hadoop configuration, passed in as a dict

In [6]:
dir(sc)

['PACKAGE_EXTENSIONS',
 '__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_accumulatorServer',
 '_active_spark_context',
 '_assert_on_driver',
 '_batchSize',
 '_callsite',
 '_checkpointFile',
 '_conf',
 '_dictToJavaMap',
 '_do_init',
 '_encryption_enabled',
 '_ensure_initialized',
 '_gateway',
 '_getJavaStorageLevel',
 '_initialize_context',
 '_javaAccumulator',
 '_jsc',
 '_jvm',
 '_lock',
 '_next_accum_id',
 '_pickled_broadcast_vars',
 '_python_includes',
 '_repr_html_',
 '_serialize_to_jvm',
 '_temp_dir',
 '_unbatched_serializer',
 'accumulator',
 'addArchive',
 'addFile',
 'addPyFile',
 'appName',
 'applicationId',
 'binaryFiles',
 'binaryRecords',
 'broadcast',
 'cancelAllJobs',
 'cancelJobGroup',
 'defaultMinPartitions',
 'defaultParallelism',
 'dump_profiles',
 'emptyRDD',
 'environment',
 'getCheckpointDir',
 'getConf',
 'getLocalProperty',
 'getOrCreate',
 'hadoopFile',
 'hadoopRDD',
 'listArchives',
 'listFiles',
 'master',
 'newAPIHadoopFile',
 'newAPIHadoopRDD',
 'parallelize',
 'pickleFile',
 'profiler_collector',
 'pythonExec',
 'pythonVer',
 'range',
 'resources',
 'runJob',
 'sequenceFile',
 'serializer',
 'setCheckpointDir',
 'setJobDescription',
 'setJobGroup',
 'setLocalProperty',
 'setLogLevel',
 'setSystemProperty',
 'show_profiles',
 'sparkHome',
 'sparkUser',
 'startTime',
 'statusTracker',
 'stop',
 'textFile',
 'uiWebUrl',
 'union',
 'version',
 'wholeTextFiles']

## RDD

In [8]:
data = [1,2,3,4]
distributedData = sc.parallelize(data)

In [9]:
tesla_file = 'TSLA.csv'
tesla_rdd = sc.textFile(tesla_file)
tesla_rdd.take(5)

['Date,Open,High,Low,Close,AdjClose,Volume',
 '2019-07-15,248.000000,254.419998,244.860001,253.500000,253.500000,11000100',
 '2019-07-16,249.300003,253.529999,247.929993,252.380005,252.380005,8149000',
 '2019-07-17,255.669998,258.309998,253.350006,254.860001,254.860001,9764700',
 '2019-07-18,255.050003,255.750000,251.889999,253.539993,253.539993,4764500']

In [10]:
type(tesla_rdd)

pyspark.rdd.RDD

In [11]:
csv_rdd = tesla_rdd.map(lambda row:row.split(","))

In [12]:
csv_rdd.collect()

[['Date', 'Open', 'High', 'Low', 'Close', 'AdjClose', 'Volume'],
 ['2019-07-15',
  '248.000000',
  '254.419998',
  '244.860001',
  '253.500000',
  '253.500000',
  '11000100'],
 ['2019-07-16',
  '249.300003',
  '253.529999',
  '247.929993',
  '252.380005',
  '252.380005',
  '8149000'],
 ['2019-07-17',
  '255.669998',
  '258.309998',
  '253.350006',
  '254.860001',
  '254.860001',
  '9764700'],
 ['2019-07-18',
  '255.050003',
  '255.750000',
  '251.889999',
  '253.539993',
  '253.539993',
  '4764500'],
 ['2019-07-19',
  '255.690002',
  '259.959991',
  '254.619995',
  '258.179993',
  '258.179993',
  '7048400'],
 ['2019-07-22',
  '258.750000',
  '262.149994',
  '254.190002',
  '255.679993',
  '255.679993',
  '6842400'],
 ['2019-07-23',
  '256.709991',
  '260.480011',
  '254.500000',
  '260.170013',
  '260.170013',
  '5023100'],
 ['2019-07-24',
  '259.170013',
  '266.070007',
  '258.160004',
  '264.880005',
  '264.880005',
  '11072800'],
 ['2019-07-25',
  '233.500000',
  '234.500000',
  '225.550003',
  '228.820007',
  '228.820007',
  '22418300'],
 ['2019-07-26',
  '226.919998',
  '230.259995',
  '222.250000',
  '228.039993',
  '228.039993',
  '10027700'],
 ['2019-07-29',
  '227.089996',
  '235.940002',
  '226.029999',
  '235.770004',
  '235.770004',
  '9273300'],
 ['2019-07-30',
  '232.899994',
  '243.360001',
  '232.179993',
  '242.259995',
  '242.259995',
  '8109000'],
 ['2019-07-31',
  '243.000000',
  '246.679993',
  '236.649994',
  '241.610001',
  '241.610001',
  '9178200'],
 ['2019-08-01',
  '242.649994',
  '244.509995',
  '231.770004',
  '233.850006',
  '233.850006',
  '8259500'],
 ['2019-08-02',
  '231.350006',
  '236.270004',
  '229.229996',
  '234.339996',
  '234.339996',
  '6136500'],
 ['2019-08-05',
  '229.600006',
  '231.369995',
  '225.779999',
  '228.320007',
  '228.320007',
  '7028300'],
 ['2019-08-06',
  '231.880005',
  '232.500000',
  '225.750000',
  '230.750000',
  '230.750000',
  '5564200'],
 ['2019-08-07',
  '226.500000',
  '233.570007',
  '225.800003',
  '233.419998',
  '233.419998',
  '4776500'],
 ['2019-08-08',
  '234.449997',
  '239.800003',
  '232.649994',
  '238.300003',
  '238.300003',
  '5274300'],
 ['2019-08-09',
  '236.050003',
  '238.960007',
  '233.809998',
  '235.009995',
  '235.009995',
  '3898200'],
 ['2019-08-12',
  '232.990005',
  '235.770004',
  '228.750000',
  '229.009995',
  '229.009995',
  '4663900'],
 ['2019-08-13',
  '228.809998',
  '236.000000',
  '227.550003',
  '235.000000',
  '235.000000',
  '4848100'],
 ['2019-08-14',
  '231.210007',
  '231.500000',
  '216.690002',
  '219.619995',
  '219.619995',
  '9562600'],
 ['2019-08-15',
  '220.860001',
  '221.559998',
  '211.550003',
  '215.639999',
  '215.639999',
  '8159600'],
 ['2019-08-16',
  '216.660004',
  '222.240005',
  '216.020004',
  '219.940002',
  '219.940002',
  '5098500'],
 ['2019-08-19',
  '224.210007',
  '227.830002',
  '221.699997',
  '226.830002',
  '226.830002',
  '5309600'],
 ['2019-08-20',
  '227.619995',
  '229.089996',
  '224.539993',
  '225.860001',
  '225.860001',
  '4125200'],
 ['2019-08-21',
  '222.009995',
  '223.220001',
  '217.600006',
  '220.830002',
  '220.830002',
  '7794300'],
 ['2019-08-22',
  '222.800003',
  '225.399994',
  '218.220001',
  '222.149994',
  '222.149994',
  '6559000'],
 ['2019-08-23',
  '219.970001',
  '221.169998',
  '211.000000',
  '211.399994',
  '211.399994',
  '8538600'],
 ['2019-08-26',
  '213.600006',
  '215.020004',
  '211.539993',
  '215.000000',
  '215.000000',
  '5051900'],
 ['2019-08-27',
  '215.740005',
  '218.800003',
  '212.029999',
  '214.080002',
  '214.080002',
  '5416200'],
 ['2019-08-28',
  '213.690002',
  '217.250000',
  '212.309998',
  '215.589996',
  '215.589996',
  '3225500'],
 ['2019-08-29',
  '219.000000',
  '223.399994',
  '218.000000',
  '221.710007',
  '221.710007',
  '5179500'],
 ['2019-08-30',
  '229.149994',
  '232.440002',
  '224.210007',
  '225.610001',
  '225.610001',
  '9320600'],
 ['2019-09-03',
  '224.080002',
  '228.949997',
  '223.160004',
  '225.009995',
  '225.009995',
  '5354100'],
 ['2019-09-04',
  '226.889999',
  '228.460007',
  '219.210007',
  '220.679993',
  '220.679993',
  '5761000'],
 ['2019-09-05',
  '222.500000',
  '229.800003',
  '220.850006',
  '229.580002',
  '229.580002',
  '7395300'],
 ['2019-09-06',
  '227.199997',
  '229.639999',
  '225.169998',
  '227.449997',
  '227.449997',
  '4189400'],
 ['2019-09-09',
  '230.000000',
  '233.759995',
  '229.229996',
  '231.789993',
  '231.789993',
  '4802700'],
 ['2019-09-10',
  '230.800003',
  '235.539993',
  '228.940002',
  '235.539993',
  '235.539993',
  '4883700'],
 ['2019-09-11',
  '237.380005',
  '248.169998',
  '236.000000',
  '247.100006',
  '247.100006',
  '10042800'],
 ['2019-09-12',
  '247.699997',
  '253.500000',
  '244.399994',
  '245.869995',
  '245.869995',
  '8581200'],
 ['2019-09-13',
  '246.960007',
  '248.449997',
  '244.869995',
  '245.199997',
  '245.199997',
  '5313100'],
 ['2019-09-16',
  '246.000000',
  '247.429993',
  '241.169998',
  '242.809998',
  '242.809998',
  '4728100'],
 ['2019-09-17',
  '242.470001',
  '245.600006',
  '240.369995',
  '244.789993',
  '244.789993',
  '3865400'],
 ['2019-09-18',
  '245.000000',
  '248.169998',
  '242.369995',
  '243.490005',
  '243.490005',
  '4170200'],
 ['2019-09-19',
  '246.000000',
  '247.940002',
  '244.839996',
  '246.600006',
  '246.600006',
  '4795800'],
 ['2019-09-20',
  '246.490005',
  '246.949997',
  '238.160004',
  '240.619995',
  '240.619995',
  '6353000'],
 ['2019-09-23',
  '240.000000',
  '245.179993',
  '239.220001',
  '241.229996',
  '241.229996',
  '4340200'],
 ['2019-09-24',
  '241.520004',
  '241.990005',
  '222.610001',
  '223.210007',
  '223.210007',
  '12891500'],
 ['2019-09-25',
  '224.559998',
  '228.979996',
  '218.360001',
  '228.699997',
  '228.699997',
  '9427100'],
 ['2019-09-26',
  '230.660004',
  '243.309998',
  '227.399994',
  '242.559998',
  '242.559998',
  '11884500'],
 ['2019-09-27',
  '242.199997',
  '248.710007',
  '238.729996',
  '242.130005',
  '242.130005',
  '11116400'],
 ['2019-09-30',
  '243.000000',
  '243.979996',
  '236.110001',
  '240.869995',
  '240.869995',
  '5879800'],
 ['2019-10-01',
  '241.500000',
  '245.949997',
  '239.130005',
  '244.690002',
  '244.690002',
  '6162600'],
 ['2019-10-02',
  '243.289993',
  '244.649994',
  '239.429993',
  '243.130005',
  '243.130005',
  '5631400'],
 ['2019-10-03',
  '231.860001',
  '234.479996',
  '224.279999',
  '233.029999',
  '233.029999',
  '15084500'],
 ['2019-10-04',
  '231.610001',
  '234.779999',
  '228.070007',
  '231.429993',
  '231.429993',
  '7995000'],
 ['2019-10-07',
  '229.800003',
  '238.559998',
  '228.550003',
  '237.720001',
  '237.720001',
  '8064200'],
 ['2019-10-08',
  '235.869995',
  '243.940002',
  '234.500000',
  '240.050003',
  '240.050003',
  '8678200'],
 ['2019-10-09',
  '241.320007',
  '247.300003',
  '240.649994',
  '244.529999',
  '244.529999',
  '6894400'],
 ['2019-10-10',
  '245.279999',
  '249.279999',
  '241.580002',
  '244.740005',
  '244.740005',
  '6283300'],
 ['2019-10-11',
  '247.149994',
  '251.080002',
  '246.809998',
  '247.889999',
  '247.889999',
  '8475400'],
 ['2019-10-14',
  '247.899994',
  '258.549988',
  '247.130005',
  '256.959991',
  '256.959991',
  '10205000'],
 ['2019-10-15',
  '257.700012',
  '260.000000',
  '254.119995',
  '257.890015',
  '257.890015',
  '6432800'],
 ['2019-10-16',
  '257.390015',
  '262.100006',
  '256.920013',
  '259.750000',
  '259.750000',
  '6684100'],
 ['2019-10-17',
  '262.500000',
  '264.779999',
  '260.170013',
  '261.970001',
  '261.970001',
  '4769300'],
 ['2019-10-18',
  '260.700012',
  '262.799988',
  '255.100006',
  '256.950012',
  '256.950012',
  '5749800'],
 ['2019-10-21',
  '258.329987',
  '259.500000',
  '250.179993',
  '253.500000',
  '253.500000',
  '5020300'],
 ['2019-10-22',
  '254.320007',
  '258.329987',
  '250.850006',
  '255.580002',
  '255.580002',
  '4600800'],
 ['2019-10-23',
  '254.500000',
  '256.140015',
  '251.350006',
  '254.679993',
  '254.679993',
  '5261100'],
 ['2019-10-24',
  '298.369995',
  '304.929993',
  '289.200012',
  '299.679993',
  '299.679993',
  '29720900'],
 ['2019-10-25',
  '297.720001',
  '330.000000',
  '296.109985',
  '328.130005',
  '328.130005',
  '30006100'],
 ['2019-10-28',
  '327.540009',
  '340.839996',
  '322.600006',
  '327.709991',
  '327.709991',
  '18870300'],
 ['2019-10-29',
  '319.989990',
  '324.299988',
  '314.750000',
  '316.220001',
  '316.220001',
  '12684300'],
 ['2019-10-30',
  '313.000000',
  '318.790009',
  '309.970001',
  '315.010010',
  '315.010010',
  '9641800'],
 ['2019-10-31',
  '313.100006',
  '319.000000',
  '313.000000',
  '314.920013',
  '314.920013',
  '5067000'],
 ['2019-11-01',
  '316.320007',
  '316.480011',
  '309.799988',
  '313.309998',
  '313.309998',
  '6383900'],
 ['2019-11-04',
  '314.799988',
  '321.940002',
  '309.260010',
  '317.470001',
  '317.470001',
  '8787000'],
 ['2019-11-05',
  '319.619995',
  '323.510010',
  '316.119995',
  '317.220001',
  '317.220001',
  '6943400'],
 ['2019-11-06',
  '318.000000',
  '326.720001',
  '314.500000',
  '326.579987',
  '326.579987',
  '7940900'],
 ['2019-11-07',
  '329.140015',
  '341.500000',
  '328.019989',
  '335.540009',
  '335.540009',
  '14467300'],
 ['2019-11-08',
  '334.500000',
  '337.459991',
  '332.500000',
  '337.140015',
  '337.140015',
  '6069200'],
 ['2019-11-11',
  '343.950012',
  '349.190002',
  '342.000000',
  '345.089996',
  '345.089996',
  '9986700'],
 ['2019-11-12',
  '346.899994',
  '350.369995',
  '344.040009',
  '349.929993',
  '349.929993',
  '7359400'],
 ['2019-11-13',
  '355.000000',
  '356.329987',
  '345.179993',
  '346.109985',
  '346.109985',
  '8420100'],
 ['2019-11-14',
  '346.109985',
  '353.839996',
  '342.910004',
  '349.350006',
  '349.350006',
  '6464900'],
 ['2019-11-15',
  '350.640015',
  '352.799988',
  '348.359985',
  '352.170013',
  '352.170013',
  '4809000'],
 ['2019-11-18',
  '352.920013',
  '353.149994',
  '346.100006',
  '349.989990',
  '349.989990',
  '4400400'],
 ['2019-11-19',
  '351.750000',
  '359.989990',
  '347.799988',
  '359.519989',
  '359.519989',
  '7724800'],
 ['2019-11-20',
  '360.000000',
  '361.200012',
  '349.570007',
  '352.220001',
  '352.220001',
  '6725100'],
 ['2019-11-21',
  '354.510010',
  '360.839996',
  '354.000000',
  '354.829987',
  '354.829987',
  '6110000'],
 ['2019-11-22',
  '340.160004',
  '341.000000',
  '330.000000',
  '333.040009',
  '333.040009',
  '16870600'],
 ['2019-11-25',
  '344.320007',
  '344.570007',
  '334.459991',
  '336.339996',
  '336.339996',
  '12339500'],
 ['2019-11-26',
  '335.269989',
  '335.500000',
  '327.100006',
  '328.920013',
  '328.920013',
  '7947400'],
 ['2019-11-27',
  '331.119995',
  '333.929993',
  '328.570007',
  '331.290009',
  '331.290009',
  '5555600'],
 ['2019-11-29',
  '331.109985',
  '331.260010',
  '327.500000',
  '329.940002',
  '329.940002',
  '2465600'],
 ['2019-12-02',
  '329.399994',
  '336.380005',
  '328.690002',
  '334.869995',
  '334.869995',
  '6074500'],
 ['2019-12-03',
  '332.619995',
  '337.910004',
  '332.190002',
  '336.200012',
  '336.200012',
  '6573700'],
 ['2019-12-04',
  '337.750000',
  '337.859985',
  '332.850006',
  '333.029999',
  '333.029999',
  '5533000'],
 ['2019-12-05',
  '332.829987',
  '334.420013',
  '327.250000',
  '330.369995',
  '330.369995',
  '3724600'],
 ['2019-12-06',
  '335.000000',
  '338.859985',
  '334.769989',
  '335.890015',
  '335.890015',
  '7612400'],
 ['2019-12-09',
  '336.589996',
  '344.450012',
  '335.079987',
  '339.529999',
  '339.529999',
  '9023100'],
 ['2019-12-10',
  '339.959991',
  '350.730011',
  '339.309998',
  '348.839996',
  '348.839996',
  '8828300'],
 ['2019-12-11',
  '351.880005',
  '357.190002',
  '351.089996',
  '352.700012',
  '352.700012',
  '6897800'],
 ['2019-12-12',
  '354.920013',
  '362.739990',
  '353.230011',
  '359.679993',
  '359.679993',
  '7763900'],
 ['2019-12-13',
  '361.049988',
  '365.209991',
  '354.640015',
  '358.390015',
  '358.390015',
  '6570900'],
 ['2019-12-16',
  '362.549988',
  '383.609985',
  '362.500000',
  '381.500000',
  '381.500000',
  '18174200'],
 ['2019-12-17',
  '378.989990',
  '385.500000',
  '375.899994',
  '378.989990',
  '378.989990',
  '8496800'],
 ['2019-12-18',
  '380.630005',
  '395.220001',
  '380.579987',
  '393.149994',
  '393.149994',
  '14121000'],
 ['2019-12-19',
  '397.320007',
  '406.850006',
  '396.500000',
  '404.040009',
  '404.040009',
  '18107100'],
 ['2019-12-20',
  '410.290009',
  '413.000000',
  '400.190002',
  '405.589996',
  '405.589996',
  '14752700'],
 ['2019-12-23',
  '411.779999',
  '422.010010',
  '410.000000',
  '419.220001',
  '419.220001',
  '13319600'],
 ['2019-12-24',
  '418.359985',
  '425.470001',
  '412.690002',
  '425.250000',
  '425.250000',
  '8054700'],
 ['2019-12-26',
  '427.910004',
  '433.480011',
  '426.350006',
  '430.940002',
  '430.940002',
  '10633900'],
 ['2019-12-27',
  '435.000000',
  '435.309998',
  '426.109985',
  '430.380005',
  '430.380005',
  '9945700'],
 ['2019-12-30',
  '428.790009',
  '429.000000',
  '409.260010',
  '414.700012',
  '414.700012',
  '12586400'],
 ['2019-12-31',
  '405.000000',
  '421.290009',
  '402.079987',
  '418.329987',
  '418.329987',
  '10285700'],
 ['2020-01-02',
  '424.500000',
  '430.700012',
  '421.709991',
  '430.260010',
  '430.260010',
  '9532100'],
 ['2020-01-03',
  '440.500000',
  '454.000000',
  '436.920013',
  '443.010010',
  '443.010010',
  '17778500'],
 ['2020-01-06',
  '440.470001',
  '451.559998',
  '440.000000',
  '451.540009',
  '451.540009',
  '10133000'],
 ['2020-01-07',
  '461.399994',
  '471.630005',
  '453.359985',
  '469.059998',
  '469.059998',
  '17882100'],
 ['2020-01-08',
  '473.700012',
  '498.489990',
  '468.230011',
  '492.140015',
  '492.140015',
  '31144300'],
 ['2020-01-09',
  '497.100006',
  '498.799988',
  '472.869995',
  '481.339996',
  '481.339996',
  '28440400'],
 ['2020-01-10',
  '481.790009',
  '484.940002',
  '473.700012',
  '478.149994',
  '478.149994',
  '12959500'],
 ['2020-01-13',
  '493.500000',
  '525.630005',
  '492.000000',
  '524.859985',
  '524.859985',
  '26517600'],
 ['2020-01-14',
  '544.260010',
  '547.409973',
  '524.900024',
  '537.919983',
  '537.919983',
  '28996200'],
 ['2020-01-15',
  '529.760010',
  '537.840027',
  '516.789978',
  '518.500000',
  '518.500000',
  '17368800'],
 ['2020-01-16',
  '493.750000',
  '514.460022',
  '492.170013',
  '513.489990',
  '513.489990',
  '21736700'],
 ['2020-01-17',
  '507.609985',
  '515.669983',
  '503.160004',
  '510.500000',
  '510.500000',
  '13629100'],
 ['2020-01-21',
  '530.250000',
  '548.580017',
  '528.409973',
  '547.200012',
  '547.200012',
  '17803500'],
 ['2020-01-22',
  '571.890015',
  '594.500000',
  '559.099976',
  '569.559998',
  '569.559998',
  '31369000'],
 ['2020-01-23',
  '564.250000',
  '582.000000',
  '555.599976',
  '572.200012',
  '572.200012',
  '19651000'],
 ['2020-01-24',
  '570.630005',
  '573.859985',
  '554.260010',
  '564.820007',
  '564.820007',
  '14353600'],
 ['2020-01-27',
  '541.989990',
  '564.440002',
  '539.280029',
  '558.020020',
  '558.020020',
  '13608100'],
 ['2020-01-28',
  '568.489990',
  '576.809998',
  '558.080017',
  '566.900024',
  '566.900024',
  '11788500'],
 ['2020-01-29',
  '575.690002',
  '589.799988',
  '567.429993',
  '580.989990',
  '580.989990',
  '17801500'],
 ['2020-01-30',
  '632.419983',
  '650.880005',
  '618.000000',
  '640.809998',
  '640.809998',
  '29005700'],
 ['2020-01-31',
  '640.000000',
  '653.000000',
  '632.520020',
  '650.570007',
  '650.570007',
  '15719300'],
 ['2020-02-03',
  '673.690002',
  '786.140015',
  '673.520020',
  '780.000000',
  '780.000000',
  '47233500'],
 ['2020-02-04',
  '882.960022',
  '968.989990',
  '833.880005',
  '887.059998',
  '887.059998',
  '60938800'],
 ['2020-02-05',
  '823.260010',
  '845.979980',
  '704.109985',
  '734.700012',
  '734.700012',
  '48423800'],
 ['2020-02-06',
  '699.919983',
  '795.830017',
  '687.000000',
  '748.960022',
  '748.960022',
  '39880800'],
 ['2020-02-07',
  '730.549988',
  '769.750000',
  '730.000000',
  '748.070007',
  '748.070007',
  '17063500'],
 ['2020-02-10',
  '800.000000',
  '819.989990',
  '752.400024',
  '771.280029',
  '771.280029',
  '24689200'],
 ['2020-02-11',
  '768.789978',
  '783.510010',
  '758.000000',
  '774.380005',
  '774.380005',
  '11697500'],
 ['2020-02-12',
  '777.869995',
  '789.750000',
  '763.369995',
  '767.289978',
  '767.289978',
  '12022500'],
 ['2020-02-13',
  '741.840027',
  '818.000000',
  '735.000000',
  '804.000000',
  '804.000000',
  '26289300'],
 ['2020-02-14',
  '787.219971',
  '812.969971',
  '785.500000',
  '800.030029',
  '800.030029',
  '15693700'],
 ['2020-02-18',
  '841.599976',
  '860.000000',
  '832.359985',
  '858.400024',
  '858.400024',
  '16381700'],
 ['2020-02-19',
  '923.500000',
  '944.780029',
  '901.020020',
  '917.419983',
  '917.419983',
  '25423000'],
 ['2020-02-20',
  '911.950012',
  '912.000000',
  '859.940002',
  '899.409973',
  '899.409973',
  '17634900'],
 ['2020-02-21',
  '906.979980',
  '913.059998',
  '880.450012',
  '901.000000',
  '901.000000',
  '14314800'],
 ['2020-02-24',
  '839.000000',
  '863.500000',
  '822.200012',
  '833.789978',
  '833.789978',
  '15192200'],
 ['2020-02-25',
  '849.000000',
  '856.599976',
  '787.000000',
  '799.909973',
  '799.909973',
  '17290500'],
 ['2020-02-26',
  '782.500000',
  '813.309998',
  '776.109985',
  '778.799988',
  '778.799988',
  '14085500'],
 ['2020-02-27',
  '730.000000',
  '739.770020',
  '669.000000',
  '679.000000',
  '679.000000',
  '24149300'],
 ['2020-02-28',
  '629.700012',
  '690.520020',
  '611.520020',
  '667.989990',
  '667.989990',
  '24564200'],
 ['2020-03-02',
  '711.260010',
  '743.690002',
  '686.669983',
  '743.619995',
  '743.619995',
  '20195000'],
 ['2020-03-03',
  '805.000000',
  '806.979980',
  '716.109985',
  '745.510010',
  '745.510010',
  '25784000'],
 ['2020-03-04',
  '763.960022',
  '766.520020',
  '724.729980',
  '749.500000',
  '749.500000',
  '15049000'],
 ['2020-03-05',
  '723.770020',
  '745.750000',
  '718.070007',
  '724.539978',
  '724.539978',
  '10852700'],
 ['2020-03-06',
  '690.000000',
  '707.000000',
  '684.270020',
  '703.479980',
  '703.479980',
  '12662900'],
 ['2020-03-09',
  '605.390015',
  '663.000000',
  '605.000000',
  '608.000000',
  '608.000000',
  '17073700'],
 ['2020-03-10',
  '659.429993',
  '668.000000',
  '608.000000',
  '645.330017',
  '645.330017',
  '15594400'],
 ['2020-03-11',
  '640.200012',
  '653.580017',
  '613.000000',
  '634.229980',
  '634.229980',
  '13322500'],
 ['2020-03-12',
  '580.890015',
  '594.500000',
  '546.250000',
  '560.549988',
  '560.549988',
  '18909100'],
 ['2020-03-13',
  '595.000000',
  '607.570007',
  '502.000000',
  '546.619995',
  '546.619995',
  '22640300'],
 ['2020-03-16',
  '469.500000',
  '494.869995',
  '442.170013',
  '445.070007',
  '445.070007',
  '20489500'],
 ['2020-03-17',
  '440.010010',
  '471.850006',
  '396.000000',
  '430.200012',
  '430.200012',
  '23994600'],
 ['2020-03-18',
  '389.000000',
  '404.859985',
  '350.510010',
  '361.220001',
  '361.220001',
  '23786200'],
 ['2020-03-19',
  '374.700012',
  '452.000000',
  '358.459991',
  '427.640015',
  '427.640015',
  '30195500'],
 ['2020-03-20',
  '438.200012',
  '477.000000',
  '425.790009',
  '427.529999',
  '427.529999',
  '28285500'],
 ['2020-03-23',
  '433.600006',
  '442.000000',
  '410.500000',
  '434.290009',
  '434.290009',
  '16454500'],
 ['2020-03-24',
  '477.299988',
  '513.690002',
  '474.000000',
  '505.000000',
  '505.000000',
  '22895200'],
 ['2020-03-25',
  '545.250000',
  '557.000000',
  '511.109985',
  '539.250000',
  '539.250000',
  '21222700'],
 ['2020-03-26',
  '547.390015',
  '560.000000',
  '512.250000',
  '528.159973',
  '528.159973',
  '17380700'],
 ['2020-03-27',
  '505.000000',
  '525.799988',
  '494.029999',
  '514.359985',
  '514.359985',
  '14377400'],
 ['2020-03-30',
  '510.260010',
  '516.650024',
  '491.230011',
  '502.130005',
  '502.130005',
  '11998100'],
 ['2020-03-31',
  '501.250000',
  '542.960022',

## SPARK DATAFRAMES

In [14]:
# Old way
# from pyspark.sql import SQLContext
# sqlContext = SQLContext(sc)

# New way
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [15]:
li = [('Alice',1)]
df = spark.createDataFrame(li, ['name', 'age'])
df.collect()

[Row(name='Alice', age=1)]

In [17]:
tesla_df = csv_rdd.toDF(['date','open','high','low','close','adjclose','volume'])
tesla_df.take(5)

[Row(date='Date', open='Open', high='High', low='Low', close='Close', adjclose='AdjClose', volume='Volume'),
 Row(date='2019-07-15', open='248.000000', high='254.419998', low='244.860001', close='253.500000', adjclose='253.500000', volume='11000100'),
 Row(date='2019-07-16', open='249.300003', high='253.529999', low='247.929993', close='252.380005', adjclose='252.380005', volume='8149000'),
 Row(date='2019-07-17', open='255.669998', high='258.309998', low='253.350006', close='254.860001', adjclose='254.860001', volume='9764700'),
 Row(date='2019-07-18', open='255.050003', high='255.750000', low='251.889999', close='253.539993', adjclose='253.539993', volume='4764500')]

In [18]:
amazon_file = 'AMZN.csv'
amazon_df = spark.read.load(amazon_file, format='com.databricks.spark.csv',
                            header='true', inferSchema='true')

In [19]:
amazon_df.take(5)

[Row(Date=datetime.date(2019, 7, 15), Open=2021.400024, High=2022.900024, Low=2001.550049, Close=2020.98999, AdjClose=2020.98999, Volume=2981300),
 Row(Date=datetime.date(2019, 7, 16), Open=2010.579956, High=2026.319946, Low=2001.219971, Close=2009.900024, AdjClose=2009.900024, Volume=2618200),
 Row(Date=datetime.date(2019, 7, 17), Open=2007.050049, High=2012.0, Low=1992.030029, Close=1992.030029, AdjClose=1992.030029, Volume=2558800),
 Row(Date=datetime.date(2019, 7, 18), Open=1980.01001, High=1987.5, Low=1951.550049, Close=1977.900024, AdjClose=1977.900024, Volume=3504300),
 Row(Date=datetime.date(2019, 7, 19), Open=1991.209961, High=1996.0, Low=1962.22998, Close=1964.52002, AdjClose=1964.52002, Volume=3185600)]

In [20]:
amazon_df.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- AdjClose: double (nullable = true)
 |-- Volume: integer (nullable = true)

In [21]:
amazon_df.count()

253

In [22]:
amazon_df.show()

+----------+-----------+-----------+-----------+-----------+-----------+-------+
|      Date|       Open|       High|        Low|      Close|   AdjClose| Volume|
+----------+-----------+-----------+-----------+-----------+-----------+-------+
|2019-07-15|2021.400024|2022.900024|2001.550049| 2020.98999| 2020.98999|2981300|
|2019-07-16|2010.579956|2026.319946|2001.219971|2009.900024|2009.900024|2618200|
|2019-07-17|2007.050049|     2012.0|1992.030029|1992.030029|1992.030029|2558800|
|2019-07-18| 1980.01001|     1987.5|1951.550049|1977.900024|1977.900024|3504300|
|2019-07-19|1991.209961|     1996.0| 1962.22998| 1964.52002| 1964.52002|3185600|
|2019-07-22|1971.140015|     1989.0| 1958.26001|1985.630005|1985.630005|2900000|
|2019-07-23| 1995.98999|1997.790039|1973.130005| 1994.48999| 1994.48999|2703500|
|2019-07-24|1969.300049|2001.300049|1965.869995|2000.810059|2000.810059|2631300|
|2019-07-25|     2001.0|2001.199951|1972.719971|1973.819946|1973.819946|4136500|
|2019-07-26|     1942.0|1950.900024| 1924.51001|1943.050049|1943.050049|4927100|
|2019-07-29|     1930.0| 1932.22998|1890.540039|1912.449951|1912.449951|4493200|
|2019-07-30|1891.119995|1909.890015| 1883.47998|1898.530029|1898.530029|2910900|
|2019-07-31|1898.109985|1899.550049|1849.439941|1866.780029|1866.780029|4470700|
|2019-08-01|1871.719971|1897.920044| 1844.01001|1855.319946|1855.319946|4713300|
|2019-08-02|1845.069946|1846.359985| 1808.02002| 1823.23999| 1823.23999|4956200|
|2019-08-05|1770.219971|1788.670044|1748.780029|1765.130005|1765.130005|6058200|
|2019-08-06| 1792.22998| 1793.77002|1753.400024|1787.829956|1787.829956|5070300|
|2019-08-07| 1773.98999|1798.930054|     1757.0|1793.400024|1793.400024|4526900|
|2019-08-08|     1806.0| 1834.26001|1798.109985|1832.890015|1832.890015|3701200|
|2019-08-09|1828.949951|1831.089966|1802.219971|1807.579956|1807.579956|2879800|
+----------+-----------+-----------+-----------+-----------+-----------+-------+
only showing top 20 rows

In [23]:
import pandas as pd
amazon_df.toPandas().head(5)

,Date,Open,High,Low,Close,AdjClose,Volume
0,2019-07-15,2021.400024,2022.900024,2001.550049,2020.989990,2020.989990,2981300
1,2019-07-16,2010.579956,2026.319946,2001.219971,2009.900024,2009.900024,2618200
2,2019-07-17,2007.050049,2012.000000,1992.030029,1992.030029,1992.030029,2558800
3,2019-07-18,1980.010010,1987.500000,1951.550049,1977.900024,1977.900024,3504300
4,2019-07-19,1991.209961,1996.000000,1962.229980,1964.520020,1964.520020,3185600

## EXPLORE AND QUERY DATA

In [26]:
google_df = spark.read.csv('GOOG.csv', header=True, inferSchema=True)

In [28]:
from pyspark.sql.functions import year, month
google_df.select(year("Date").alias('yr'), "Close").groupby('yr').avg('Close').sort('yr').show()

+----+------------------+
|  yr|        avg(Close)|
+----+------------------+
|2019|1245.3833654621849|
|2020|1362.8286906865671|
+----+------------------+

In [29]:
help(google_df)

Help on DataFrame in module pyspark.sql.dataframe object:

class DataFrame(pyspark.sql.pandas.map_ops.PandasMapOpsMixin, pyspark.sql.pandas.conversion.PandasConversionMixin)
 |  DataFrame(jdf: py4j.java_gateway.JavaObject, sql_ctx: Union[ForwardRef('SQLContext'), ForwardRef('SparkSession')])
 |
 |  A distributed collection of data grouped into named columns.
 |
 |  .. versionadded:: 1.3.0
 |
 |  .. versionchanged:: 3.4.0
 |      Supports Spark Connect.
 |
 |  Examples
 |  --------
 |  A :class:`DataFrame` is equivalent to a relational table in Spark SQL,
 |  and can be created using various functions in :class:`SparkSession`:
 |
 |  >>> people = spark.createDataFrame([
 |  ...     {"deptId": 1, "age": 40, "name": "Hyukjin Kwon", "gender": "M", "salary": 50},
 |  ...     {"deptId": 1, "age": 50, "name": "Takuya Ueshin", "gender": "M", "salary": 100},
 |  ...     {"deptId": 2, "age": 60, "name": "Xinrong Meng", "gender": "F", "salary": 150},
 |  ...     {"deptId": 3, "age": 20, "name": "Haejoon Lee", "gender": "M", "salary": 200}
 |  ... ])
 |
 |  Once created, it can be manipulated using the various domain-specific-language
 |  (DSL) functions defined in: :class:`DataFrame`, :class:`Column`.
 |
 |  To select a column from the :class:`DataFrame`, use the apply method:
 |
 |  >>> age_col = people.age
 |
 |  A more concrete example:
 |
 |  >>> # To create DataFrame using SparkSession
 |  ... department = spark.createDataFrame([
 |  ...     {"id": 1, "name": "PySpark"},
 |  ...     {"id": 2, "name": "ML"},
 |  ...     {"id": 3, "name": "Spark SQL"}
 |  ... ])
 |
 |  >>> people.filter(people.age > 30).join(
 |  ...     department, people.deptId == department.id).groupBy(
 |  ...     department.name, "gender").agg({"salary": "avg", "age": "max"}).show()
 |  +-------+------+-----------+--------+
 |  |   name|gender|avg(salary)|max(age)|
 |  +-------+------+-----------+--------+
 |  |     ML|     F|      150.0|      60|
 |  |PySpark|     M|       75.0|      50|
 |  +-------+------+-----------+--------+
 |
 |  Notes
 |  -----
 |  A DataFrame should only be created as described above. It should not be directly
 |  created via using the constructor.
 |
 |  Method resolution order:
 |      DataFrame
 |      pyspark.sql.pandas.map_ops.PandasMapOpsMixin
 |      pyspark.sql.pandas.conversion.PandasConversionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getattr__(self, name: str) -> pyspark.sql.column.Column
 |      Returns the :class:`Column` denoted by ``name``.
 |
 |      .. versionadded:: 1.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      name : str
 |          Column name to return as :class:`Column`.
 |
 |      Returns
 |      -------
 |      :class:`Column`
 |          Requested column.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([
 |      ...     (2, "Alice"), (5, "Bob")], schema=["age", "name"])
 |
 |      Retrieve a column instance.
 |
 |      >>> df.select(df.age).show()
 |      +---+
 |      |age|
 |      +---+
 |      |  2|
 |      |  5|
 |      +---+
 |
 |  __getitem__(self, item: Union[int, str, pyspark.sql.column.Column, List, Tuple]) -> Union[pyspark.sql.column.Column, ForwardRef('DataFrame')]
 |      Returns the column as a :class:`Column`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      item : int, str, :class:`Column`, list or tuple
 |          column index, column name, column, or a list or tuple of columns
 |
 |      Returns
 |      -------
 |      :class:`Column` or :class:`DataFrame`
 |          a specified column, or a filtered or projected dataframe.
 |
 |          * If the input `item` is an int or str, the output is a :class:`Column`.
 |
 |          * If the input `item` is a :class:`Column`, the output is a :class:`DataFrame`
 |              filtered by this given :class:`Column`.
 |
 |          * If the input `item` is a list or tuple, the output is a :class:`DataFrame`
 |              projected by this given list or tuple.
 |
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([
 |      ...     (2, "Alice"), (5, "Bob")], schema=["age", "name"])
 |
 |      Retrieve a column instance.
 |
 |      >>> df.select(df['age']).show()
 |      +---+
 |      |age|
 |      +---+
 |      |  2|
 |      |  5|
 |      +---+
 |
 |      >>> df.select(df[1]).show()
 |      +-----+
 |      | name|
 |      +-----+
 |      |Alice|
 |      |  Bob|
 |      +-----+
 |
 |      Select multiple string columns as index.
 |
 |      >>> df[["name", "age"]].show()
 |      +-----+---+
 |      | name|age|
 |      +-----+---+
 |      |Alice|  2|
 |      |  Bob|  5|
 |      +-----+---+
 |      >>> df[df.age > 3].show()
 |      +---+----+
 |      |age|name|
 |      +---+----+
 |      |  5| Bob|
 |      +---+----+
 |      >>> df[df[0] > 3].show()
 |      +---+----+
 |      |age|name|
 |      +---+----+
 |      |  5| Bob|
 |      +---+----+
 |
 |  __init__(self, jdf: py4j.java_gateway.JavaObject, sql_ctx: Union[ForwardRef('SQLContext'), ForwardRef('SparkSession')])
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self) -> str
 |      Return repr(self).
 |
 |  agg(self, *exprs: Union[pyspark.sql.column.Column, Dict[str, str]]) -> 'DataFrame'
 |      Aggregate on the entire :class:`DataFrame` without groups
 |      (shorthand for ``df.groupBy().agg()``).
 |
 |      .. versionadded:: 1.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      exprs : :class:`Column` or dict of key and value strings
 |          Columns or expressions to aggregate DataFrame by.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |          Aggregated DataFrame.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import functions as F
 |      >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
 |      >>> df.agg({"age": "max"}).show()
 |      +--------+
 |      |max(age)|
 |      +--------+
 |      |       5|
 |      +--------+
 |      >>> df.agg(F.min(df.age)).show()
 |      +--------+
 |      |min(age)|
 |      +--------+
 |      |       2|
 |      +--------+
 |
 |  alias(self, alias: str) -> 'DataFrame'
 |      Returns a new :class:`DataFrame` with an alias set.
 |
 |      .. versionadded:: 1.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      alias : str
 |          an alias name to be set for the :class:`DataFrame`.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |          Aliased DataFrame.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql.functions import col, desc
 |      >>> df = spark.createDataFrame(
 |      ...     [(14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])
 |      >>> df_as1 = df.alias("df_as1")
 |      >>> df_as2 = df.alias("df_as2")
 |      >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
 |      >>> joined_df.select(
 |      ...     "df_as1.name", "df_as2.name", "df_as2.age").sort(desc("df_as1.name")).show()
 |      +-----+-----+---+
 |      | name| name|age|
 |      +-----+-----+---+
 |      |  Tom|  Tom| 14|
 |      |  Bob|  Bob| 16|
 |      |Alice|Alice| 23|
 |      +-----+-----+---+
 |
 |  approxQuantile(self, col: Union[str, List[str], Tuple[str]], probabilities: Union[List[float], Tuple[float]], relativeError: float) -> Union[List[float], List[List[float]]]
 |      Calculates the approximate quantiles of numerical columns of a
 |      :class:`DataFrame`.
 |
 |      The result of this algorithm has the following deterministic bound:
 |      If the :class:`DataFrame` has N elements and if we request the quantile at
 |      probability `p` up to error `err`, then the algorithm will return
 |      a sample `x` from the :class:`DataFrame` so that the *exact* rank of `x` is
 |      close to (p * N). More precisely,
 |
 |        floor((p - err) * N) <= rank(x) <= ceil((p + err) * N).
 |
 |      This method implements a variation of the Greenwald-Khanna
 |      algorithm (with some speed optimizations). The algorithm was first
 |      present in [[https://doi.org/10.1145/375663.375670
 |      Space-efficient Online Computation of Quantile Summaries]]
 |      by Greenwald and Khanna.
 |
 |      .. versionadded:: 2.0.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      col: str, tuple or list
 |          Can be a single column name, or a list of names for multiple columns.
 |
 |          .. versionchanged:: 2.2.0
 |             Added support for multiple columns.
 |      probabilities : list or tuple
 |          a list of quantile probabilities
 |          Each number must belong to [0, 1].
 |          For example 0 is the minimum, 0.5 is the median, 1 is the maximum.
 |      relativeError : float
 |          The relative target precision to achieve
 |          (>= 0). If set to zero, the exact quantiles are computed, which
 |          could be very expensive. Note that values greater than 1 are
 |          accepted but gives the same result as 1.
 |
 |      Returns
 |      -------
 |      list
 |          the approximate quantiles at the given probabilities.
 |
 |          * If the input `col` is a string, the output is a list of floats.
 |
 |          * If the input `col` is a list or tuple of strings, the output is also a
 |              list, but each element in it is a list of floats, i.e., the output
 |              is a list of list of floats.
 |
 |      Notes
 |      -----
 |      Null values will be ignored in numerical columns before calculation.
 |      For columns only containing null values, an empty list is returned.
 |
 |  cache(self) -> 'DataFrame'
 |      Persists the :class:`DataFrame` with the default storage level (`MEMORY_AND_DISK`).
 |
 |      .. versionadded:: 1.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Notes
 |      -----
 |      The default storage level has changed to `MEMORY_AND_DISK` to match Scala in 2.0.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |          Cached DataFrame.
 |
 |      Examples
 |      --------
 |      >>> df = spark.range(1)
 |      >>> df.cache()
 |      DataFrame[id: bigint]
 |
 |      >>> df.explain()
 |      == Physical Plan ==
 |      InMemoryTableScan ...
 |
 |  checkpoint(self, eager: bool = True) -> 'DataFrame'
 |      Returns a checkpointed version of this :class:`DataFrame`. Checkpointing can be used to
 |      truncate the logical plan of this :class:`DataFrame`, which is especially useful in
 |      iterative algorithms where the plan may grow exponentially. It will be saved to files
 |      inside the checkpoint directory set with :meth:`SparkContext.setCheckpointDir`.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Parameters
 |      ----------
 |      eager : bool, optional, default True
 |          Whether to checkpoint this :class:`DataFrame` immediately.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |          Checkpointed DataFrame.
 |
 |      Notes
 |      -----
 |      This API is experimental.
 |
 |      Examples
 |      --------
 |      >>> import tempfile
 |      >>> df = spark.createDataFrame([
 |      ...     (14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     spark.sparkContext.setCheckpointDir("/tmp/bb")
 |      ...     df.checkpoint(False)
 |      DataFrame[age: bigint, name: string]
 |
 |  coalesce(self, numPartitions: int) -> 'DataFrame'
 |      Returns a new :class:`DataFrame` that has exactly `numPartitions` partitions.
 |
 |      Similar to coalesce defined on an :class:`RDD`, this operation results in a
 |      narrow dependency, e.g. if you go from 1000 partitions to 100 partitions,
 |      there will not be a shuffle, instead each of the 100 new partitions will
 |      claim 10 of the current partitions. If a larger number of partitions is requested,
 |      it will stay at the current number of partitions.
 |
 |      However, if you're doing a drastic coalesce, e.g. to numPartitions = 1,
 |      this may result in your computation taking place on fewer nodes than
 |      you like (e.g. one node in the case of numPartitions = 1). To avoid this,
 |      you can call repartition(). This will add a shuffle step, but means the
 |      current upstream partitions will be executed in parallel (per whatever
 |      the current partitioning is).
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      numPartitions : int
 |          specify the target number of partitions
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |      Examples
 |      --------
 |      >>> df = spark.range(10)
 |      >>> df.coalesce(1).rdd.getNumPartitions()
 |      1
 |
 |  colRegex(self, colName: str) -> pyspark.sql.column.Column
 |      Selects column based on the column name specified as a regex and returns it
 |      as :class:`Column`.
 |
 |      .. versionadded:: 2.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      colName : str
 |          string, column name specified as a regex.
 |
 |      Returns
 |      -------
 |      :class:`Column`
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([("a", 1), ("b", 2), ("c",  3)], ["Col1", "Col2"])
 |      >>> df.select(df.colRegex("`(Col1)?+.+`")).show()
 |      +----+
 |      |Col2|
 |      +----+
 |      |   1|
 |      |   2|
 |      |   3|
 |      +----+
 |
 |  collect(self) -> List[pyspark.sql.types.Row]
 |      Returns all the records as a list of :class:`Row`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Returns
 |      -------
 |      list
 |          List of rows.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame(
 |      ...     [(14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])
 |      >>> df.collect()
 |      [Row(age=14, name='Tom'), Row(age=23, name='Alice'), Row(age=16, name='Bob')]
 |
 |  corr(self, col1: str, col2: str, method: Optional[str] = None) -> float
 |      Calculates the correlation of two columns of a :class:`DataFrame` as a double value.
 |      Currently only supports the Pearson Correlation Coefficient.
 |      :func:`DataFrame.corr` and :func:`DataFrameStatFunctions.corr` are aliases of each other.
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column
 |      col2 : str
 |          The name of the second column
 |      method : str, optional
 |          The correlation method. Currently only supports "pearson"
 |
 |      Returns
 |      -------
 |      float
 |          Pearson Correlation Coefficient of two columns.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([(1, 12), (10, 1), (19, 8)], ["c1", "c2"])
 |      >>> df.corr("c1", "c2")
 |      -0.3592106040535498
 |      >>> df = spark.createDataFrame([(11, 12), (10, 11), (9, 10)], ["small", "bigger"])
 |      >>> df.corr("small", "bigger")
 |      1.0
 |
 |  count(self) -> int
 |      Returns the number of rows in this :class:`DataFrame`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Returns
 |      -------
 |      int
 |          Number of rows.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame(
 |      ...     [(14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])
 |
 |      Return the number of rows in the :class:`DataFrame`.
 |
 |      >>> df.count()
 |      3
 |
 |  cov(self, col1: str, col2: str) -> float
 |      Calculate the sample covariance for the given columns, specified by their names, as a
 |      double value. :func:`DataFrame.cov` and :func:`DataFrameStatFunctions.cov` are aliases.
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column
 |      col2 : str
 |          The name of the second column
 |
 |      Returns
 |      -------
 |      float
 |          Covariance of two columns.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([(1, 12), (10, 1), (19, 8)], ["c1", "c2"])
 |      >>> df.cov("c1", "c2")
 |      -18.0
 |      >>> df = spark.createDataFrame([(11, 12), (10, 11), (9, 10)], ["small", "bigger"])
 |      >>> df.cov("small", "bigger")
 |      1.0
 |
 |  createGlobalTempView(self, name: str) -> None
 |      Creates a global temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      .. versionadded:: 2.1.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      name : str
 |          Name of the view.
 |
 |      Examples
 |      --------
 |      Create a global temporary view.
 |
 |      >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
 |      >>> df.createGlobalTempView("people")
 |      >>> df2 = spark.sql("SELECT * FROM global_temp.people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |
 |      Throws an exception if the global temporary view already exists.
 |
 |      >>> df.createGlobalTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: "Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropGlobalTempView("people")
 |      True
 |
 |  createOrReplaceGlobalTempView(self, name: str) -> None
 |      Creates or replaces a global temporary view using the given name.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |
 |      .. versionadded:: 2.2.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      name : str
 |          Name of the view.
 |
 |      Examples
 |      --------
 |      Create a global temporary view.
 |
 |      >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
 |      >>> df.createOrReplaceGlobalTempView("people")
 |
 |      Replace the global temporary view.
 |
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceGlobalTempView("people")
 |      >>> df3 = spark.sql("SELECT * FROM global_temp.people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropGlobalTempView("people")
 |      True
 |
 |  createOrReplaceTempView(self, name: str) -> None
 |      Creates or replaces a local temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      name : str
 |          Name of the view.
 |
 |      Examples
 |      --------
 |      Create a local temporary view named 'people'.
 |
 |      >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
 |      >>> df.createOrReplaceTempView("people")
 |
 |      Replace the local temporary view.
 |

In [31]:
amazon_df.select(year('Date').alias('year'), month('Date').alias('month'),'Low').groupby('year','month').avg('Low').sort('year','month').explain(True)

== Parsed Logical Plan ==
'Sort ['year ASC NULLS FIRST, 'month ASC NULLS FIRST], true
+- Aggregate [year#248, month#249], [year#248, month#249, avg(Low#52) AS avg(Low)#257]
   +- Project [year(Date#49) AS year#248, month(Date#49) AS month#249, Low#52]
      +- Relation [Date#49,Open#50,High#51,Low#52,Close#53,AdjClose#54,Volume#55] csv

== Analyzed Logical Plan ==
year: int, month: int, avg(Low): double
Sort [year#248 ASC NULLS FIRST, month#249 ASC NULLS FIRST], true
+- Aggregate [year#248, month#249], [year#248, month#249, avg(Low#52) AS avg(Low)#257]
   +- Project [year(Date#49) AS year#248, month(Date#49) AS month#249, Low#52]
      +- Relation [Date#49,Open#50,High#51,Low#52,Close#53,AdjClose#54,Volume#55] csv

== Optimized Logical Plan ==
Sort [year#248 ASC NULLS FIRST, month#249 ASC NULLS FIRST], true
+- Aggregate [year#248, month#249], [year#248, month#249, avg(Low#52) AS avg(Low)#257]
   +- Project [year(Date#49) AS year#248, month(Date#49) AS month#249, Low#52]
      +- Relation [Date#49,Open#50,High#51,Low#52,Close#53,AdjClose#54,Volume#55] csv

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Sort [year#248 ASC NULLS FIRST, month#249 ASC NULLS FIRST], true, 0
   +- Exchange rangepartitioning(year#248 ASC NULLS FIRST, month#249 ASC NULLS FIRST, 200), ENSURE_REQUIREMENTS, [plan_id=241]
      +- HashAggregate(keys=[year#248, month#249], functions=[avg(Low#52)], output=[year#248, month#249, avg(Low)#257])
         +- Exchange hashpartitioning(year#248, month#249, 200), ENSURE_REQUIREMENTS, [plan_id=238]
            +- HashAggregate(keys=[year#248, month#249], functions=[partial_avg(Low#52)], output=[year#248, month#249, sum#263, count#264L])
               +- Project [year(Date#49) AS year#248, month(Date#49) AS month#249, Low#52]
                  +- FileScan csv [Date#49,Low#52] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/c:/Users/trand/OneDrive/Documents/After Zipcode/SQL SPARK/AMZN.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<Date:date,Low:double>